.modal-panel {
    
    height: fit-content;
    width: auto;
    background-color: rgb(255, 255, 255);
    padding:2rem;
    border-radius: 3px;
}

.modal-panel > p {
    font-size: large;
    font-weight: 600;
    font-family: sans-serif;
}

.banner {
    position: relative;height: 10px;
    left: 93%;
}