<div class="container">
  <div class="card">
    <div class="profile-card">
      <div class="banner-image">
        <img class="cover" src="../../../assets/images/profilebgimage.PNG" />
      </div>
      <img
        class="profile"
        src="../../../assets/images/gopher.PNG"
        alt="Avatar"
      />
      <div class="footer">
        <h1 class="name">{{ userProfile.name }}</h1>
        <p class="description">{{ userProfile.job }}</p>
        <p class="description">{{ userProfile.bio }}</p>
      </div>
      <div class="btn-holder" href="#" (click)="buttonClicked(userProfile)">
        <button class="btn" >Follow</button>
      </div>
    </div>
  </div>
</div>
